:root {
    /* Layout breakpoints */
    --breakpoint-mobile: 375px;
    --breakpoint-desktop: 1440px;

    /* Typography */
    --font-family-base: 'Noto Sans', sans-serif;
    --font-size-base: 16px;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /* Neutral Colors */
    --neutral-900: hsl(227, 75%, 14%);
    --neutral-800: hsl(226, 25%, 17%);
    --neutral-700: hsl(225, 23%, 24%);
    --neutral-600: hsl(226, 11%, 37%);
    --neutral-300: hsl(0, 0%, 78%);
    --neutral-200: hsl(217, 61%, 90%);
    --neutral-100: hsl(0, 0%, 93%);
    --neutral-0: hsl(200, 60%, 99%);

    /* Red Colors */
    --red-400: hsl(3, 86%, 64%);
    --red-500: hsl(3, 71%, 56%);
    --red-700: hsl(3, 77%, 44%);

    /* Gradients */
    --gradient-light: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --gradient-dark: linear-gradient(180deg, #040918 0%, #091540 100%);
}

.noto-sans-regular {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.noto-sans-medium {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.noto-sans-bold {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

footer {
    margin-top: 30rem;
}

body {
    max-width: 1024px;
    margin: 0 auto;
    padding-block: 1.5rem;
    padding-inline: 1rem;
    background-color: var(--neutral-200);
    font-family: var(--font-family-base);
}

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0.675rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    background-color: var(--neutral-0);
}

button {
    all: unset;
}

.theme-button {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0.525rem;
    cursor: pointer;
    border-style: solid;
    border-radius: 0.675rem;
    border-color: var(--neutral-0);
    background-color: var(--neutral-100);
}

.theme-button:hover {
    border-style: solid;
    border-color: var(--red-700);
    border-radius: 0.675rem;
}

.theme-button img {
    width: 100%;
}

.filter-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.filter-bar-buttons {
    display: flex;
    gap: 0.425rem;
    justify-content: center;
    align-items: center;
}

.filter-bar button {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border-radius: 1.325rem;
    border-style: solid;
    border-color: var(--neutral-200);
    background-color: var(--neutral-0);
    cursor: pointer;
}

.filter-bar button:hover {
    border-style: solid;
    border-color: var(--red-700);
}


.extension-item {
    display: flex;
    flex-direction: column;
}

.extension-item-row {
    display: flex;
}

.extension-item-info h5,
.extension-item-info p {
    margin: 0;
}

.extension-item-info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}


/*Borders for layout*/

body {
    border: 1px solid blue;
}

header {
    border: 1px solid red;
}

main {
    border: 1px solid green
}

.filter-bar {
    border: 1px solid yellow;
}