:root {
    /* Layout breakpoints */
    --breakpoint-mobile: 375px;
    --breakpoint-desktop: 1440px;

    /* Typography */
    --font-family-base: 'Noto Sans', sans-serif;
    --font-size-base: 16px;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /* Neutral Colors */
    --neutral-900: hsl(227, 75%, 14%);
    --neutral-800: hsl(226, 25%, 17%);
    --neutral-700: hsl(225, 23%, 24%);
    --neutral-600: hsl(226, 11%, 37%);
    --neutral-300: hsl(0, 0%, 78%);
    --neutral-200: hsl(217, 61%, 90%);
    --neutral-100: hsl(0, 0%, 93%);
    --neutral-0: hsl(200, 60%, 99%);

    /* Red Colors */
    --red-400: hsl(3, 86%, 64%);
    --red-500: hsl(3, 71%, 56%);
    --red-700: hsl(3, 77%, 44%);

    /* Gradients */
    --gradient-light: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --gradient-dark: linear-gradient(180deg, #040918 0%, #091540 100%);
}

.noto-sans-regular {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.noto-sans-medium {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.noto-sans-bold {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

footer {
    margin-top: 30rem;
}

body {
    max-width: 1024px;
    margin: 0 auto;
    padding-block: 1.5rem;
    padding-inline: 1rem;
    background-color: var(--neutral-200);
    font-family: var(--font-family-base);
}

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0.675rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    background-color: var(--neutral-0);
}

button {
    all: unset;
}

.theme-button {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0.525rem;
    cursor: pointer;
    border-style: solid;
    border-radius: 0.675rem;
    border-color: var(--neutral-0);
    background-color: var(--neutral-100);
}

.theme-button:hover {
    border-style: solid;
    border-color: var(--red-700);
    border-radius: 0.675rem;
}

.theme-button img {
    width: 100%;
}

.filter-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.filter-bar-buttons {
    display: flex;
    gap: 0.425rem;
    justify-content: center;
    align-items: center;
}

.filter-bar button {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border-radius: 1.325rem;
    border-style: solid;
    border-color: var(--neutral-200);
    background-color: var(--neutral-0);
    cursor: pointer;
}

.filter-bar button:hover {
    border-style: solid;
    border-color: var(--red-700);
}

.filter-bar-buttons button.active {
    background-color: var(--red-700);
    color: var(--neutral-100);
}

.extensions-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 3rem;
    align-items: stretch;
}


.extension-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--neutral-0);
}

.extension-item-row {
    display: flex;
    gap: 1rem;
}

.extension-item-row img {
    align-self: self-start;
    width: 45px;
}

.extension-item-info p {
    font-size: smaller;
    word-wrap: break-word;
}

.extension-item-info h5,
.extension-item-info p {
    margin: 0;
}

.extension-item-info {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.extension-item-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.remove-extension-button {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-block: 0.325rem;
    padding-inline: 0.9rem;
    border-style: solid;
    border-radius: 1.5rem;
    border-color: var(--neutral-100);
    cursor: pointer;
}

.remove-extension-button:hover {
    border-style: solid;
    border-color: var(--red-700);
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    padding-inline: 0.1rem;
    width: 2.9rem;
    height: 1.57rem;

}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1rem;
    width: 1rem;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--red-400);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--red-500);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/**Dark Mode**/

body.dark-mode {
    background-color: var(--neutral-900);
    color: var(--neutral-100);
}

body.dark-mode header {
    background-color: var(--neutral-800);
}

body.dark-mode .theme-button {
    background-color: var(--neutral-700);
    border-color: var(--neutral-700);
}

body.dark-mode .theme-button:hover {
    border-color: var(--red-700);
}

body.dark-mode .filter-bar button {
    background-color: var(--neutral-700);
    border-color: var(--neutral-600);
    color: var(--neutral-100);
}

body.dark-mode .filter-bar-buttons button.active {
    background-color: var(--red-400);
    color: var(--neutral-0);
}

body.dark-mode .extension-item {
    background-color: var(--neutral-800);
    color: var(--neutral-100);
}

body.dark-mode .remove-extension-button {
    border-color: var(--neutral-600);
}