:root {
    /* Layout breakpoints */
    --breakpoint-mobile: 375px;
    --breakpoint-desktop: 1440px;

    /* Typography */
    --font-family-base: 'Noto Sans', sans-serif;
    --font-size-base: 16px;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /* Neutral Colors */
    --neutral-900: hsl(227, 75%, 14%);
    --neutral-800: hsl(226, 25%, 17%);
    --neutral-700: hsl(225, 23%, 24%);
    --neutral-600: hsl(226, 11%, 37%);
    --neutral-300: hsl(0, 0%, 78%);
    --neutral-200: hsl(217, 61%, 90%);
    --neutral-100: hsl(0, 0%, 93%);
    --neutral-0: hsl(200, 60%, 99%);

    /* Red Colors */
    --red-400: hsl(3, 86%, 64%);
    --red-500: hsl(3, 71%, 56%);
    --red-700: hsl(3, 77%, 44%);

    /* Gradients */
    --gradient-light: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --gradient-dark: linear-gradient(180deg, #040918 0%, #091540 100%);
}

.noto-sans-regular {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.noto-sans-medium {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.noto-sans-bold {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

footer {
    margin-top: 30rem;
}

body {
    max-width: 1024px;
    margin: 2rem auto;
    background-color: var(--neutral-200);
}

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0.675rem;
    border-radius: 1rem;
    background-color: var(--neutral-100);
}

button {
    all: unset;
}

.theme-button {
    padding: 0.525rem;
    border-style: solid;
    border-color: var(--red-700);
    border-radius: 0.675rem;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

.theme-button img {
    width: 100%;
}

.filter-bar {
    /* display: flex;
    justify-content: space-between; */
}